
.container {
    width: 960px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 10px 0px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
}

h1 {
    margin:  0 0 0px;
    padding: 20px  0px;
    color: white;
    background-color: darkblue;
    border-bottom: solid 1px #ddd;
    text-align: center;
   
}

form {
text-align: left;
}

form label {
    display:block;
    margin: 25px 0;
    font-weight: bold;
}

form input, 
form select {
    padding: 8px;
    margin: 10px 0;
}

form input[type="text"] {
    width: 90px;
}
#topArticles {

    margin: 0px auto 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -8px #000;
    background-color: darkblue;
    opacity: .8;

}